.btn:focus {
    outline: none !important;
  }
  label{
      margin-bottom: none !important;
  }
.mdb_modal{
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 100px !important;
}
.mdb_modal_footer{
    display: flex !important;
    width: 100% !important;
    align-items: flex-end !important;
    flex-direction: column !important;
    padding-bottom: 10px !important;
    &:last-child{
        padding-right: 10px !important;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
   
}