.profileinfo_div{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-left: 50px;
    .profileinfo_div_avatar{
        width:200px;
        height:200px;
    }
    .profileinfo_div_bio{
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        width: 100%;
        .profileinfo_div_bio_spandiv{
            padding-top: 20px;
            display: flex;
            justify-content: flex-start;
            & > span{
                margin-left: 20px;
            }
            & > span:first-of-type{
                margin: none;
            }
        }
        .profileinfo_div_bio_aboutbio{
            margin-left: 20px;
            padding-top: 20px;
        }
    }
}