html, body {
    height: 100%;
  }
.frontpage-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 100vh;
    bottom: 0;
    text-align: center;
    .frontpage-liner{
        min-width: 100%;
        min-height: 30%;
        background-color: #71E35F;
        top:0;
        left:0;
        position: fixed;
        z-index: 9;
    }
    .frontpage-liner-2{
        min-width: 100%;
        min-height: 70%;
        background-color: #e4edea;
        top:30%;
        left:0;
        position: fixed;
        z-index: 9;
    }
    .for-forms{
        display: flex;
        margin-top: 200px;
        flex-direction: column;
        position: inherit;
        z-index: 99;
    }
}
